@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

.back{
    text-align: center;
    color: black;
}

.product-content {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin-top: 50px;
    justify-content: center;
}
.product-content a{
    text-decoration: none;
}

.shop-card {
    width: 350px;
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,.3);
    overflow: hidden;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    z-index: 2;
    margin-left: 20px;
}
.shop-card figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
    outline: none!important;
}

.title {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    color: #23211f;
    margin-bottom: 5px;
}

.desc {
    font-size: 17px;
    opacity: .8;
    margin-bottom: 3px;
}

.cta {
    padding: 20px 20px 5px;
}
.cta::after {
    content: '';
    display: table;
    clear: both;
}

.price {
    float: left;
    color: green;
    font-size: 22px;
    font-weight: 900;
    padding-top: 2px;
    transition: color .3s ease-in-out;
    margin-top: 4px;
}

.btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: green;
    padding: 12px 18px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    line-height: .95;
    border: none;
    background: none;
    outline: none;
    border: 1px solid green;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}
.btn .bg {
    width: 101%;
    height: 101%;
    display: block!important;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease-in-out;
    background: linear-gradient(135deg, green, lightgreen);
}
    
.btn:hover {
    color: #fff;
    background: green;
    border: 1px solid transparent;
}

a{
    text-decoration: none;
}